<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li>Home </li>
            <li>Products</li>
            <li>About us</li>
            <li>Locate us</li>
        </ul>
    </nav>
    <h1 class="container">CULTFILT GYM - HURRY UP FILL THE FORM ! EARLY-BIRD OFFER 50% OFF </h1>
    p #{content}
    <div class="container2">
        <form action="/" method="post" id="formfill">
            <input type="text" name="name" id="form" placeholder="name">
            <input type="text"name="age" id="form" placeholder="age">
            <input type="text"name="gender" id="form" placeholder="gender">
            <textarea name="address" id="form" cols="70" rows="5" placeholder="enter your address" ></textarea>
            <textarea name="more" id="form" cols="70" rows="5" placeholder="more about you" ></textarea>
            <button id="form">Submit</button>
        </form>
    </div>           
    
      
</body>
</html>